<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Choice</title>
	
<!--	<link rel="stylesheet" type="text/css" href="/static/css/screen.css">
	<link rel="stylesheet" type="text/css" href="/static/css/lightbox.css">

	<script src="static/js/jquery-1.11.0.min.js"></script>
	<script src="static/js/lightbox.min.js"></script>
-->

</head>
<body>
	<div class="accordian">
	<ul>
		<li>
			<div class="image_title">
				<a>타임라인가기</a>
			</div>
			<a href="">
				<img src="http://tottori.japanpr.com/files/attach/images/10526/393/059/sub2.jpg"/>
			</a>
		</li>
		<li>
			<div class="image_title">
				<a>공방가기</a>
			</div>
			<a href="">
				<img src="http://cfile1.uf.tistory.com/image/0203EB3C50FEC673245629"/>
			</a>
		</li>
	</ul>
</div>
</body>
</html>