{% extends "layout2.html" %}

{% block contents %}
    <div class="llArticleList">
       
<!-- 진자 등을 써서 내용을 넣으면 됨!!-->
	<div class="first_top">
		<a href ="/login.html"><img src="/static/images/login.png"></a>
		<a href ="/login.html"><img src="/static/images/join.png"></a>
	</div>

	<div id="cbp-fwslider" class="cbp-fwslider">


	<ul>
		<li><img src="/static/images/15.jpg" /></li>
		<li><img src="/static/images/31.jpg" /></li>
		<li><img src="/static/images/3718333003_3f3b28d5_l2.jpg" /></li>
		<li><img src="/static/images/PD021_s.jpg" /></li>
	</ul>

	</div>

    </div>
{% endblock %}
