<!DOCTYPE html>
<html lang="ko-kr">
<head>
    <STYLE type="text/css">

</style>
<ul class="codep-highlight-mwky7fd2PC">
  
 <li class="pull right" {% if active_tab == 'timeline' %} class="active" {% endif %}><a href="{{ url_for('article_list') }}">타임라인</a></li>
<li class="pull right" {% if active_tab == 'article_create' %} class = "active" {% endif %}><a href="{{ url_for('article_create') }}">글쓰기</a></li>
 <li><a href="#">?!?</a></li> </ul> </div> </div> 
</STYLE>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Likelion Flaskr</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

    {% block favicon %}
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}"/>
    {% endblock %}
</head>
<body>
{% block layout %}{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
{% endblock %}


</body>
</html>