{% macro render_field(field, catch_kwargs=true) %}
    <div class="form-group{% if field.errors %} has-error{% endif %}">
        <label for="{{ field.id }}">{{ field.label }}</label>
        {{ field(**kwargs) }}

        {% if field.errors %}
            <div class="help-block">
                <ul>
                    {% for error in field.errors %}
                        {{ error }}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
{% endmacro %}

<!-- 

        신지원 관찰 보고서
    오늘 처음 연극 날짜를 말해주었다.
    몇 번 말하는지 계속 적을 예정에 있다. 
        날짜  시간    내용 
        9/26 - 3:04     처음 말함/ 정확히 2달 남았다. 현수막 살 돈을 벌어야겠다.


    -->


<!-- 
        송수연 관찰 보고서
    그리팅 댄스에 관한 고찰
        날짜  시간      내용
        9/26 - 3:04     관찰 시작


    얼굴에 V자 하는 횟수에 대한 법칙

        날짜  시간      내용
        9/26 - 2:00경    2회


    -->

<!--
        조우정 관찰 보고서
    "오빠 뭐에영"에 패턴 조사
        날짜  시간      내용
        9/26 - 3:04     관찰 시작

-->

<!--
        권미정 관찰 보고서
    무엇에 대한 요구사항에 대한 조사

        날짜  시간      내용
        9/26 - 3:04     관찰 시작
         =     3:11     꼬인 html문서를 풀어달라고 요구

-->