{% macro render_field(field, catch_kwargs=true) %}
    <div class="form-group{% if field.errors %} has-error{% endif %}">
        <label for="{{ field.id }}">{{ field.label }}</label>
        {{ field(**kwargs) }}

        {% if field.errors %}
            <div class="help-block">
                <ul>
                    {% for error in field.errors %}
                        {{ error }}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
{% endmacro %}

<!-- 

        신지원 관찰 보고서
    오늘 처음 연극 날짜를 말해주었다.
    몇 번 말하는지 계속 적을 예정에 있다. 
        날짜  시간    내용 
        9/26 - 3:04     처음 말함/ 정확히 2달 남았다. 현수막 살 돈을 벌어야겠다.


    -->