{% extends "layout.html" %}


{% block contents %}
    <div class="llArticleList">
        {% if context.article_list %}
            {% for article in context.article_list %}
                
                
                <section class="grid-wrap">
                    <ul class="grid swipe-right" id="grid">
                        <li class="title-box">
                            <h2>Illustrations by <a href="http://ryotakemasa.com/">Ryo Takemasa</a></h2>
                        </li>
                        <li><a href="#"><img src="img/1.jpg" alt="img01"><h3>Kenpo News April 2014 issue</h3></a></li>
                        <li><a href="#"><img src="img/2.jpg" alt="img02"><h3>SQUET April 2014 issue</h3></a></li>
                        <li><!-- ... --></li>
                            <!-- ... -->
                    </ul>
                </section>
                

                <div class="img-thumbnail" id="article_{{ article.id }}">
                    <div id="overlay" class="polaroid">
                        <div>   </div>
                        <h1><a href="{{ url_for('article_detail', id=article.id) }}">{{ article.title }}</a></h1>
                        <h3>{{ article.author }}</h3>

                        <p>
                            {{ article.content|truncate(50)|safe }}
                        </p>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="no-list">
                글이 존재하지 않습니다. 새로운 글을 등록해주세요.
            </div>
        {% endif %}
        에버랜드로!!
    </div>
{% endblock %}

