<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Logo</a>
        </div>
        <ul class="nav navbar-nav menuright">
         	{% if active_tab == 'home_show' %} 
          	<li class="active"><a href="{{ url_for('article_list') }}">공방 가기</a></li>
       	    {% endif %}
            {% if active_tab == 'gongbang' %}
            <li class="active"><a href="{{ url_for('article_create') }}">진열장 가기</a></li>
            {% endif %}
            <li><div class="circle nevmenu menubtnred"></div></li>
            <li><div class="circle nevmenu menubtnblue"></div></li>
        </ul>
        {% if active_tab == 'home_show' %} 
        <div class="jumbotron"> 
            <div class="container"> <h1>진열장</h1> <p>show window</p> </div> 
        </div> 
        {% endif %}
        {% if active_tab == 'choice' %} 
        <div class="accordian">
            <ul>
                <li>
                    <div class="image_title">
                        <a>타임라인가기</a>
                    </div>
                    <a href="">
                        <img src="http://tottori.japanpr.com/files/attach/images/10526/393/059/sub2.jpg"/>
                    </a>
                </li>
                <li>
                    <div class="image_title">
                        <a>공방가기</a>
                    </div>
                    <a href="">
                        <img src="http://cfile1.uf.tistory.com/image/0203EB3C50FEC673245629"/>
                    </a>
                </li>
            </ul>
        </div>
        {% endif %}
    </div>
</nav>