{% extends "layout.html" %}

{% block contents %}
    <div class="llArticleCreate">
        <form role="form" method="post" enctype="multipart/form-data">
            {{ form.hidden_tag() }}

            {% if form.errors %}
                <div class="alert alert-danger fade in">
                    <a class="close" data-dismiss="alert" href="#">&times;</a>
                    {% for field, errors in form.errors.items() %}
                        <ul>
                            {% for error in errors %}
                                {{ error }}
                            {% endfor %}
                        </ul>
                    {% endfor %}
                </div>
            {% endif %}

            {% from "_form_field.html" import render_field %}
            {% for field in form if field.widget.input_type != 'hidden' %}
                {{ render_field(field, class="form-control") }}
            {% endfor %}
            <input type = "hidden" id = "count" name = "count" value = "0"> 
            <div id = "process">
            </div>

            <input type = "hidden" id = "count2" name = "count2" value = "0"> 
            <div id = "inspire">
            </div>

            <button type="submit" class="btn btn-default">글쓰기</button>
        </form>
        <hr>
        <button id = "add_process">과정 추가하기</button>
        <hr>
        <button id = "add_inspire">영감받은 사진 추가하기</button>
    </div>
{% endblock %}